@import "tailwindcss";

body {
  @apply bg-[#F3F4F8] text-gray-900 overflow-hidden;
}

@layer utilities {
  .container {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
